absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
attrs
audioop-lts
beautifulsoup4
blinker
cachetools
cattrs
certifi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
decorator
defusedxml
distlib
distro
Django
fastf1
filelock
Flask
flask-cors
fonttools
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
h5py
httpcore
httpx
httpx-sse
huggingface-hub
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
ml_dtypes
moviepy
mpmath
multidict
mypy_extensions
namex
narwhals
networkx
nltk
numpy
openai
optree
orjson
packaging
pandas
pillow
pipenv
platformdirs
proglog
propcache
protobuf
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
pygame
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
RapidFuzz
referencing
regex
requests
requests-cache
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
setuptools
six
smmap
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
sqlparse
st-chat-message
standard-aifc
standard-chunk
streamlit
sympy
tenacity
threadpoolctl
tiktoken
timple
tokenizers
toml
torch
torchaudio
torchvision
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
url-normalize
urllib3
uvicorn
virtualenv
watchdog
websockets
Werkzeug
wheel
yarl
youtube-transcript-api
zstandard
